*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(100,131,136);
    background: radial-gradient(circle, rgb(133, 133, 133) 44%, rgba(58,54,54,1) 100%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-top: 110px;
}
form [type="number" ] {
    background-color: #6a6969a5;
    color: #FFFFFF;
}
.container {
    color: aliceblue;
    margin-top: 200px;
    border-radius: 15px;
    padding: 20px;
    background-color: #000000;
}
.card{
    text-align: center;
    background: rgba(27, 27, 27, 0.619);
    padding: 30px;
}
.btn-primary{
    background-color: #f7cc0b;
    border: none;
    color: #000000;
}

h4{
    margin-bottom: 25px;
}
h2{
    margin: 15px;
}
tr.cabeca{
    border: none;
    background-color: #f7cc0b;
    color: #000000;
    font-size: 13px;
}
td{
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    
}
.borda{
    border: none;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 5px;
}

.custo{
    border: none;
    margin-bottom: 5px;
    font-size: 12px;
}

.acumulo{
    border: none;
    margin-bottom: 5px;
    font-size: 12px;
}


.corToda{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: 14px;
}




input{
    text-align: center;
    color: aliceblue;
    background: #57575726;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}
input[type="number"]::placeholder{
    color: rgb(255, 255, 255);
}
::placeholder{ 
    text-align: center;
}

.input-group input {
    background-color: transparent;
    border: 0px solid #ccc;
}

.input-group input:focus {
    box-shadow: none;
}

.input-group input.error {
    border-color: red;
}

.input-group input.valid {
    border-color: white;
}

.error-message {
    color: red;
    font-size: 0.700em;
    margin-top: 0.25rem;
}
.negrito{
    font-weight: bold;
   
}
.novaIdeia{
    font-size: 12px;
    font-weight: bold;
   
}
#responsive{
    font-size: max(50px, 5vw);
}
@media (max-width: 768px) {
    th, td {
        font-size: 12px;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }

    .container {
        padding: 5px;
    }
}

@media (max-width: 480px) {
    th, td {
        font-size: 10px;
        display: block;
    }

    table {
        display: block;
        overflow-x: auto;
    }

    button {
        font-size: 12px;
        padding: 6px;
    }
}
/* Estilos padrão para a logo */
.logo-vmm {
    max-width: 80px; /* Tamanho padrão */
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
}
.livelo {
    max-width: 80px; /* Tamanho máximo para telas maiores */
    width: 80px; /* Adaptação relativa */
    height: 50px; /* Mantém a proporção */
    position: relative;
    margin-left: -370px; /* Espaçamento entre as imagens */
    transform: translateY(10%);

}
.casa {
    max-width: 300px; /* Tamanho máximo para telas maiores */
    width: 300px; /* Adaptação relativa */
    height: 160px; /* Mantém a proporção */
    position: relative;
    margin-left: 670px; /* Espaçamento entre as imagens */
    transform: translateY(1%);

}
.livelo2{
    max-width: 300px; /* Tamanho máximo para telas maiores */
    width: 110px; /* Adaptação relativa */
    height: 55px; /* Mantém a proporção */
    position: relative;
    margin-left: -30px; /* Espaçamento entre as imagens */
    transform: translateY(-30%);

}
.cartoes{
    max-width: 300px; /* Tamanho máximo para telas maiores */
    width: 200px; /* Adaptação relativa */
    height: 155px; /* Mantém a proporção */
    position: relative;
    margin-left: -103px; /* Espaçamento entre as imagens */
    transform: translateY(-47%);
}
.clubes{
    max-width: 300px; /* Tamanho máximo para telas maiores */
    width: 200px; /* Adaptação relativa */
    height: 140px; /* Mantém a proporção */
    position: relative;
    margin-left: -103px; /* Espaçamento entre as imagens */
    transform: translateY(-50%);
}
.compras{
    max-width: 300px; /* Tamanho máximo para telas maiores */
    width: 200px; /* Adaptação relativa */
    height: 120px; /* Mantém a proporção */
    position: relative;
    margin-left: -103px; /* Espaçamento entre as imagens */
    transform: translateY(-50%);
}
.compra{
    max-width: 300px; /* Tamanho máximo para telas maiores */
    width: 200px; /* Adaptação relativa */
    height: 140px; /* Mantém a proporção */
    position: relative;
    margin-left: -103px; /* Espaçamento entre as imagens */
    transform: translateY(-49%);
}
.calendar{
    max-width: 300px; /* Tamanho máximo para telas maiores */
    width: 22px; /* Adaptação relativa */
    height: -620px; /* Mantém a proporção */
    position: relative;
    margin-left: -15px; /* Espaçamento entre as imagens */
    transform: translateY(-55%);
}
.engrenagem{
    max-width: 300px; /* Tamanho máximo para telas maiores */
    width: 32px; /* Adaptação relativa */
    height: -1220px; /* Mantém a proporção */
    position: relative;
    margin-left: -53px; /* Espaçamento entre as imagens */
    transform: translateY(55%);
}

/* Ajuste do texto do navbar */
.navbar-brand {
    font-size: 0,5rem;
    text-align: center;
}
.qualquer{
    margin-right: 650px;
    font-size: 18px;
    transform: translateY(54%);
}
.nova{
    font-size: 21px;
}
.diminuicao{
    font-size: 10px;
}
.menu{
    background-color:#b6e200;
}
.custo {
    position: relative;
    z-index: 10; /* Garante que o input fique acima de outros elementos */
}
