@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #424242, #424242, #0c0c0c);
    color: #d1d5db;
    padding: 20px;
}

#calculator, #calculator1 {
    background-color: #262626;
    padding: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: #fff;
    min-width: 300px;
    margin-right: 40px; 
}

#input_box {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input-field{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-field label {
    font-size: 15px;
    color:#c8ced6;
    font-weight: 500;
}

.input-field input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #c7aa29;
    color: #fff;
    font-size: 20px;
    padding: 5px
}

.input-field input:focus {
    outline: none;
}

#calculate1, #calculate2 {
    background: #c7aa29;
    border: none;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 3px;
    cursor: pointer;
    color: #160f01;
    margin-top: 20px;
}

#result11, #result12, #result21, #result22 {
    text-align: center;
}

#result1show11, #result1show12, #result1show21, #result1show22 {
    font-size: 25px;
    color: #fff; 
}

.navbar {
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand img {
    height: 80px;
    width: auto;
}

.navbar h1 {
    font-size: 24px;
    margin: 0; 
    color: white;
}

.navbar-nav .nav-link {
    font-size: 14px;
    padding: 5px 10px;
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.d-flex.justify-content-end img {
    margin-left: auto;
}